

body {
margin: 0;
padding: 0;
background-color: #E8E8E8;
}


#header {
width: 100%;
height: 1829vh;
background-color: #E8E8E8;
background-position: center;
background-repeat:repeat;
background-size: cover;
margin: 0;
padding: 0;
}

.container {
  padding: 10px 10%;
  background-image: url("images/background.png");
}
.logo {
  width: 50px;
  height: 40px;
  margin-top: -130px;
}

.header-text p {
  display: flex;
  justify-self: flex-start;
  margin-top: -100px;
  margin-left: 60px;
  font-size: 28px;
  font-family: 'Nunito Sans', sans-serif;
  color: white
}
.offcanvas-body .nav-link {
  font-size: 23px;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
}


/*-----------overview--------*/
.overview-left {
  flex-basis: 35%;
  text-align: justify;
}

.overview-right {
  flex-basis: 55%;
}
.overview-left img{
display: flex;
width: 177px;
height: 93px;
padding: 0px 3px 2px 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 190px;
}
.overview-left p{
color: #454545;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 139.9%; /* 41.97px */
letter-spacing: -1.25px;
margin-top: 70px;
}

.overview-right img{
width:60%;
display: flex;
width: 880px;
height: 683.351px;
margin-top: -68%;
margin-left: 430px;
}

.logo2{
width: 1920px;
height: 449px;
flex-shrink: 0;
margin-left:-325px;
margin-top: -63px;
}
/*-----------before-after--------*/




.col1 img{
width: 534px;
flex-shrink: 0;
}
.col1 img{
margin-top: -40px;
margin-left: -100px;
}

.col1 h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
margin-top: -415px;
margin-left: -10px;
text-align: left;
}

.col1 p{
width: 590px;
color: #535353;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 45.248px */
text-align: left;
margin-left: -5px;
}
.col2 h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
margin-top: -500px;
text-align: left;
margin-left: 170px;
}
.col2 p{
width: 590px;
color: #535353;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 45.248px */
text-align: left;
margin-left: 170px;
}
.col2 img{
width: 534px;
flex-shrink: 0;
}
.col2 img{
margin-top: 50px;
margin-right: -250px;
}
.col3 img{
width: 50%;
margin-top: 170px;
margin-left: 130px;


}
.col3 h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin: 20px;
margin-left: 130px;

}
.col4 img{
width: 50%;
margin-top: 170px;
align-self: center;
}
.col4 h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin: 20px;
}
/*-----------my role/timeline--------*/


.col5 h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
margin-top: 100px;
align-content: center;
}
.col5 ul li{
color: #535353;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
text-align: left;
margin-left: 190px;
}
.col6 img{
width: 75%;
margin-top:112px;
}
.col6 h3{
color: #535353;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
margin-top: -420px;
}
.col6 p{
color: #535353;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 500;
margin-top: 30px;

}
.col6 h4{
color: #535353;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
margin-top: 80px;
}
.icon-row {
display: flex;
align-items: center;
margin-left: 110px;
margin-top: -90px;
width: 60%;
}
.icon-row img{
width:25%;
margin-right: 8px;

}
.design{
width: 100%;
height: 100%;
background-color: #E8E8E8;
margin: 0;
padding: 0;
}
.design h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
text-align: center;
margin-top: 40px;
}
.design img{
width:70%;
align-items: center;
margin-left: 215px;
}
.design h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 150px;
margin-top: -20px;
}
.design h3{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
text-align: center;
margin-top: -90px;

}
.design p{
color: #585858;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 33.936px */;
margin-left: 190px;
}
.content h4{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-align: left;
margin-left: 325px;
margin-top: 50px;
}
.content p{
color: #585858;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 33.936px */
width: 1005px;
text-align:left;
margin-left: 190px;
}
.content img{
width: 1000px;
margin-left: 170px;
flex-shrink: 0;

}
.text h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 150px;
margin-top: 4px;
}
.text h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
text-align: center;
margin-top: -90px;
}
.col7 h3{
color: var(--heading, #535353);
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 36.928px */
margin-top: 50px;
text-align: center;
}
.col7 p{
color: #585858;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 33.936px */
margin-left: 100px;
}
.col7 img{
width: 530px;
height: 620px;
flex-shrink: 0;
margin-left: 60px;
}
.col8 h3{
color: var(--heading, #535353);
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 36.928px */
margin-top: 50px;
text-align: center;
}
.col8 p{
color: #585858;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 33.936px */
margin-left: 100px;
}
.rectangle1{
width: 536px;
height: 150px;
flex-shrink: 0;
border-radius: 30px;
background: #D6F3D6;
margin-top: 10px;
margin-left: -40px;
}
.survey1 p{
width: 524px;
color: #464443;
text-align: center;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 24.234px */
margin-left: -35px;
margin-top: -137px;
text-align: center;
}
.rectangle2{
width: 536px;
height: 150px;
flex-shrink: 0;
border-radius: 30px;
background: #E9FFE9;
margin-top: 70px;
margin-left: -60px;
  
  }
.survey2 p{
width: 524px;
color: #464443;
text-align: center;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 24.234px */
margin-left: -55px;
margin-top: -125px;
text-align: center;
}
.rectangle3{
width: 536px;
height: 118px;
flex-shrink: 0;
border-radius: 30px;
background: #EDF8ED;
margin-top: 90px;
margin-left: -40px;

}
.survey3 p{
width: 458px;
color: #464443;
text-align: center;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 24.234px */
margin-left: -5px;
margin-top: -85px;
text-align: center;
}

  
.col10{
margin-left: 200px;

}

/*-----------user-persona--------*/

.persona h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 150px;
margin-top: 4px;
}
.persona h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
text-align: center;
margin-top: -90px;
}
.persona p{
color: #585858;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 141.4%; /* 33.936px */
margin-left: 150px;

}
.persona img{
width: 1207px;
height: 700px;
flex-shrink: 0;
margin-left: 60px;
}
/*-----------empathy--------*/

.empathy h1{
  color: var(--heading, #BBD39F);
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  opacity: 50%;
  margin-left: 150px;
  margin-top: 4px;
  }
  .empathy h2{
  color: var(--heading, #535353);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: -90px;
  }
  .empathy p{
  width: 1005px;
  color: #585858;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 141.4%; /* 33.936px */
  margin-left: 170px;
  margin-top: 100px;
  
  }
  .empathy img{
  width: 948px;
  height: 834.387px;
  flex-shrink: 0;
  margin-left: 60px;
  }
/*-----------userinsight--------*/
.insight img{
margin-top: 160px;
}
.insight h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -600px;
margin-left:80px;
}
.insight p{
width: 1005px;
color: var(--heading, #535353);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 147.9%; /* 35.496px */
margin-left: 200px;
}
.insight h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 150px;
margin-top: -50px;
}
/*-----------problem statement--------*/
.rectangle4{
width: 1056px;
height: 341px;
flex-shrink: 0;
border-radius: 30px;
background: #E7FFD6;
margin-top: 10px;
margin-left: 160px;
}
.statement h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -300px;
margin-left:80px;
}
.statement p{
width: 1005px;
color: var(--heading, #535353);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 147.9%; /* 35.496px */
margin-left: 200px;
}
/*-----------value proposition--------*/
.rectangle5{
  width: 1056px;
  height: 341px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #C5E9AC;
  margin-top: 130px;
  margin-left: 160px;
  }
  .preposition h2{
  color: var(--heading, #535353);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.4%; /* 46.16px */
  text-transform: uppercase;
  text-align: center;
  margin-top: -300px;
  margin-left:80px;
  }
.preposition p{
width: 1005px;
color: var(--heading, #535353);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 147.9%; /* 35.496px */
margin-left: 200px;
}
  /*----------ideation--------*/
.ideation img{
margin-left: 690px;
margin-top: 190px;
}
.ideation h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-top:-500px;
margin-left: 140px;
}
.ideation h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -140px;
}
.ideation p{
width: 930px;
color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 151.4%; /* 36.336px */
margin-left: 220px;
margin-top: 40px;
}
.ideate img{
  width: 989px;
  height: 688px;
  flex-shrink: 0;
  align-items: center;
  margin-left: 150px;
}
/*----------journey map--------*/
.map h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 140px;
margin-top: 60px;
}
.map h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -120px;
}
.map p{
  width: 990px;
  color: var(--heading, #535353);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.9%; /* 38.136px */
  margin-left: 190px;
  margin-top: 40px;
}
.map img{
width: 1119px;
height: 886px;
flex-shrink: 0;
margin-left: 100px;
margin-top: 50px;
}
/*----------user flow--------*/
.flow h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 110px;
margin-top: 40px;
}
.flow h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -130px;
}
.flow p{
width: 990px;
color: var(--heading, #535353);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
margin-left: 190px;
margin-top: 30px;
}
.flow img{
width: 1300px;
flex-shrink: 0;
margin-left:10px;
margin-top: -70px;
}
/*----------prototype & testing--------*/
.testing h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-left: 100px;
margin-top: -20px
}
.testing h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: -150px;
}
.testing p{
width: 980px;
color: var(--heading, #535353);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
margin-left: 190px;
margin-top: 30px;
}
.wirframe-prototype h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top: 120px;

}
.col12{
width:40%;
align-items: flex-start;

}
.col12 img{
width:1000px;
margin-top: 80px;
margin-left: -140px;
}
.col13{

flex-shrink: 0;
width:35%;
align-items: flex-end;
  
}
.col13 img{
width: 75%;
margin-top: 80px;
margin-left: 300px;
}
/*----------testing flow--------*/
.testing-flow h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-top: -1350px;
}
.testing-flow h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
margin-left: 300px;
margin-top: -140px;
}
.testing-flow p{
width: 830px;
color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
margin-left: 100px;
margin-top: 20px;
}
/*----------style guide--------*/
.style-guide h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
margin-top: 90px;
}
.style-guide h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
margin-top: -150px;
margin-left: 510px;
}
.style-guide p{
width: 1050px;
color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
margin-left: 120px;
}
.style-guide img{
width: 950px;

flex-shrink: 0;
margin-left: 180px;
}
/*----------journey map a--------*/
.journey-map-a h1{
color: var(--heading, #BBD39F);
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
opacity: 50%;
}
.journey-map-a h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 46.16px */
text-transform: uppercase;
text-align: center;
margin-top:-130px;
}
.journey-map-a p{
width: 1026px;
color: #535353;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
margin-left: 150px;
}
.journey-map-a img{
margin-left: 150px;
}
/*----------hi-fi-prototype--------*/
.rectangle6{
width: 1920px;
height: 1080px;
flex-shrink: 0;
background: #000;
margin-left: -312px;
}
.hi-fi-prototype h1{
color: #6D6D6D;
font-family: Inter;
font-size: 128px;
font-style: normal;
font-weight: 700;
line-height: 115.4%; /* 147.712px */
opacity: 0.5;
margin-top: -1050px;
}
.hi-fi-prototype h2{
color: var(--heading, #535353);
margin-left: 400px;
margin-top:-120px ;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 489px;
flex-shrink: 0;
}
.col14{
width:60%
}
.col14 img{
width: 1029px;
height: 640px;
flex-shrink: 0;
margin-top: 163px;
margin-left: -30px;
}
.col15{
  width:35%
  }
  .col15 img{
  width: 225px;
  height: 444px;
  flex-shrink: 0;
  margin-top: 290px;
  margin-left: 360px;
}
/*----------future considerations--------*/
.consider h2{
color: var(--heading, #535353);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 546px;
height: 37px;
flex-shrink: 0;
margin-top:220px;
margin-left: 375px;
}
.consider p{
color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
width: 1026px;
margin-left: 145px;
margin-top: 30px;
}
.consider ul li{
color: #333;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 158.9%; /* 38.136px */
width: 980px;
margin-left: 145px;
margin-top: 30px;
}
.rectangle7{
width: 1231px;
height: 178px;
flex-shrink: 0;
border-radius: 30px;
background: #E7FFD6;
align-items: center;
margin-top: 990px;
margin-left: -625px;
}
.footer h2{
color: var(--heading, #535353);
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
width: 733px;
height: 37px;
flex-shrink: 0;
margin-left: 290px;
margin-top: -110px;
}
.footer-image img{

flex-shrink: 0;
fill: #61B023;
stroke-width: 1px;
stroke: #5BAA1E;
width: 1920px;
height: 150px;
flex-shrink: 0;
margin-left:-975px;
margin-top: 21px;
}





  

  











/*-----------css for small screen--------*/



-----@media (max-width: 991px) {
  .sidebar {
    background-color:rgba(223, 120, 48, 1)!important;
 
  }
  .logo {
    width: 40px;
    height: 30px;
  }

  .header-text h1 {
    font-size: 34px;
  }
  .header-text p{
    font-size: 25px;
    margin-top: -95px;
    margin-left: 50px;
  }

  .signature-img {
    width: 250px;
    position: relative;
    top: 205px;
    right: -50px;


  }
  .sub-title {
    margin-left: 0;
  }


  .work-list {
    grid-template-columns: repeat(auto-fit, minmax(450px, 0.5fr));

  }

  .layer h3 {
    font-size: 18px;
  }

  .layer p {
    font-size: 16px;
  }



  #work h2 {
    font-size: 30px;
    margin-top: 200px;
  }


  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 img{
    width:60%;
    margin-left: 80px;
    
  }

  .about-col-1 {
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .about-col-2 h2 {
    font-size: 30px;
  }

  .about-col-2 p {
    font-size: 18px;
    margin-left: 0px;
  }

  .tab-links {
    font-size: 14px;
    margin-right: 20px;
  }

  .tab-contents ul li {
    font-size: 16px;
    margin-left: 0;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .contact-left h2 {
    font-size: 30px;
  }

  .copyright {
    font-size: 14px;
  }
 



}